<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN1dpM-TGZxv3eVJmEMowtxsczMcgpCOk</string>
	<key>GCM_SENDER_ID</key>
	<string>324294670777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.v2t</string>
	<key>PROJECT_ID</key>
	<string>flutter-6cd66</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-6cd66.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324294670777:ios:259f67e88fcc54e3ae5e68</string>
</dict>
</plist>